#profile {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-flow: row;
gap: 2rem;
}

@media (max-width: 40rem) {
    #profile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        gap: 2rem;

    }
}